<!-- <table>

    <thead>
        <th>Name</th>
        <th>Email</th>
        <th>Account</th>

    </thead>
    <tbody>
<% lstContact.forEach((eachContact) => { %>
    <tr>
        <td><%= eachContact.name  %></td>
        <td><%= eachContact.email  %></td>
        <td><%= eachContact.accountid  %></td>
    </tr>
<%  })  %> 

</tbody>

</table> -->



<table>

    <thead>
        <th>Name</th>
        <th>Email</th>
        <th>Account</th>

    </thead>
    <tbody>
<% lstContact.forEach((eachContact) => { %>
    <tr>
        <td><%= eachContact.conname  %></td>
        <td><%= eachContact.email  %></td>
        <td><%= eachContact.accname  %></td>
    </tr>
<%  })  %> 

</tbody>